.mobile .nav-box {
  display: block !important;
}
.mobile header {
  height: 100vh;
  background-color: #000;
}
.mobile .menu-box span:first-child {
  transform: rotate(45deg);
  position: absolute;
  top: 9px;
  transition: all ease-in-out 0.5s;
}
.mobile .menu-box span:last-child {
  transform: rotate(135deg);
  transition: all ease-in-out 0.5s;
}
.mobile .menu-box span:nth-child(2) {
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
.menu-box span {
  transition: all ease-in-out 0.5s;
}
.banner {
  background-image: url(../image/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.line {
  z-index: 1;
}
.line:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 20px;
  background-color: #e15aa0;
  z-index: -1;
}
.slide img {
  width: auto !important;
  margin: 0 auto;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.client-slider .slick-arrow {
  display: none !important;
}

#rtl-slider {
  transform: rotate(180deg);
  margin-top: 50px;
}

#rtl-slider .slick-slide {
  transform: rotate(180deg);
}

.our-service .title h1:before {
  position: absolute;
  content: "Our Service";
  width: 40%;
  height: 100%;
  font-size: 70px;
  color: #00000010;
  z-index: -1;
  top: -23px;
  left: 0px;
  line-height: 69px;
}
.recent-news .title h1:before {
  position: absolute;
  content: "RECENT NWES";
  width: 40%;
  height: 100%;
  font-size: 70px;
  color: #00000010;
  z-index: -1;
  top: -23px;
  left: 0px;
  line-height: 69px;
}

.news-slide::after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../image/recent-news-bg.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

#recent-news-slider .slick-slide > div {
  margin: 0 20px;
}

#recent-news-slider .slick-list {
  margin: 0 -10px;
}

.testimonils .title h1:before {
  position: absolute;
  content: "TESTIMONIALs";
  width: 40%;
  height: 100%;
  font-size: 70px;
  color: #00000010;
  z-index: -1;
  top: -23px;
  left: 0px;
  line-height: 69px;
}
input {
  border-bottom: 1px solid #9f9f9f;
  display: block;
  background-color: #000;
  width: 100%;
  padding: 10px;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-size: 22px !important;
}
footer h4 {
  color: #e15aa0 !important;
}
footer a{
  color: #fff !important;
}
footer::after{
  position: absolute;
  content: '';
  bottom: 0px;
  right: 0px;
  width: 33%;
  height: 100%;
  background-image: url('../image/footer-after.png');
  background-size: auto;
  background-repeat: no-repeat;
}
footer::before{
  position: absolute;
  content: '';
  top: -110px;
  left: -180px;
  width: 33%;
  height: 100%;
  background-image: url(../image/footer-before.png);
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
}